grails-*.zip
target
prod
dump.rdb
*.log
.DS_Store
.architect
grails-app/.DS_Store
.sass-cache
/setEnvironment
logs
plugin.xml
.rvmrc
/plugins/platform-seven-ui-0.1/sencha-app/extjs/.architect
/plugins/platform-seven-ui-0.1/web-app/js/app.html
/plugins/jquery-1.7.1/
/plugins/platform-seven-rest-0.2-SNAPSHOT/
/plugins/platform-seven-rest-0.1/
/plugins/procon-core-0.2-SNAPSHOT/
/plugins/procon-core-0.1/
/plugins/release-2.0.4/
/plugins/rest-client-builder-1.0.2/
/plugins/spock-0.6/
/plugins/jms-1.2/

/plugins/platform-seven-ui-0.1/sencha-app/extjs/app.html

sencha-app/extjs/.architect

/plugins/procon-core-0.3-SNAPSHOT/
/plugins/procon-reports-0.1-SNAPSHOT/
/plugins/procon-cms-0.1-SNAPSHOT/
/plugins/platform-seven-user-preferences-0.1-SNAPSHOT/
/plugins/platform-seven-rest-0.3-SNAPSHOT/
