web-app
grails-*.zip
target
prod
dump.rdb
*.log
.architect
.DS_Store
.sass-cache
/setEnvironment
logs
plugin.xml
.rvmrc
/plugins
sencha-app/extjs/.architect

/*.sha1

/grails-ooh-la-log-0.2.4.zip.sha1
/grails-ooh-la-log-0.2.3.zip.sha1
